<div *ngIf="interface" class="card text-center">
  <div class="card-header text-center">
    Detalhes da interface
  </div>
  <div class="card-body col-sm-12 text-justify">
    <div class="row">
      <div class="col-sm-3">
        <div>
          <span>Index</span>
        </div>
        <div class="truncate ml-3">
          <span title="{{ interface?.index }}" class="font-weight-light">
            {{ interface?.index }}</span>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <span>Descrição</span>
        </div>
        <div class="truncate">
          <span title="{{ interface?.description }}" class="font-weight-light">
            {{ interface?.description }}</span>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <span>Tipo</span>
        </div>
        <div class="truncate">
          <span title="{{ interface?.type }}" class="font-weight-light"> {{ interface?.type }}</span>
        </div>

      </div>
      <div class="col-sm-3">
        <div>
          <span>Velocidade</span>
        </div>
        <div class="truncate">
          <span title="{{ interface?.speed }}" class="font-weight-light"> {{ interface?.speed }}</span>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <span>Admin Status</span>
        </div>
        <div class="truncate">
          <span title="{{ interface?.adminStatus }}" class="ml-3 font-weight-light">
            {{ interface?.adminStatus | statusEnum }}</span>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <span>Status de operação</span>
        </div>
        <div class="truncate">
          <span title="{{ interface?.operationalStatus }}" class="font-weight-light">
            {{ interface?.operationalStatus | statusEnum }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<interface-usage *ngIf="interface" [interface]="this.interface" [snmpManager]="snmpManager"></interface-usage>
