<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-3" *ngIf="interface?.index">
            <div>
                <span>Index</span>
            </div>
            <div class="truncate">
                <span title="{{ interface?.index }}" class="font-weight-light">
                    {{ interface?.index }}</span>
            </div>
        </div>
        <div class="col-sm-3" *ngIf="interface?.description">
            <div>
                <span>Descrição</span>
            </div>
            <div class="truncate">
                <span title="{{ interface?.description }}" class="font-weight-light">
                    {{ interface?.description }}</span>
            </div>
        </div>
        <div class="col-sm-3" *ngIf="interface?.type">
            <div>
                <span>Tipo</span>
            </div>
            <div class="truncate">
                <span title="{{ interface?.type }}" class="font-weight-light"> {{ interface?.type }}</span>
            </div>
        </div>
        <div class="col-sm-3" *ngIf="interface?.mac">
            <div>
                <span>MAC</span>
            </div>
            <div class="truncate">
                <span title="{{ interface?.mac }}" class="font-weight-light"> {{ interface?.mac }}</span>
            </div>
        </div>
        <div class="col-sm-3" *ngIf="interface?.speed">
            <div>
                <span>Velocidade</span>
            </div>
            <div class="truncate">
                <span title="{{ interface?.speed }}" class="font-weight-light"> {{ interface?.speed }}</span>
            </div>
        </div>
        <div class="col-sm-3" *ngIf="interface?.adminStatus">
            <div>
                <span>Admin Status</span>
            </div>
            <div class="truncate">
                <span title="{{ interface?.adminStatus }}" class="font-weight-light">
                    {{ interface?.adminStatus | statusEnum }}</span>
            </div>
        </div>
        <div class="col-sm-3" *ngIf="interface?.operationalStatus">
            <div>
                <span>Status de operação</span>
            </div>
            <div class="truncate">
                <span title="{{ interface?.operationalStatus }}" class="font-weight-light">
                    {{ interface?.operationalStatus | statusEnum }}</span>
            </div>
        </div>
    </div>
</div>