<div class="col-md-12">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <span>Descrição</span>
            </div>
            <div>
                <span title="{{ equipment?.description }}" class="font-weight-light">
                    {{ equipment?.description }}</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <span>Contato</span>
            </div>
            <div>
                <span title="{{ equipment?.contact }}" class="font-weight-light"> {{ equipment?.contact }}</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <span>Nome</span>
            </div>
            <div>
                <span title="{{ equipment?.name }}" class="font-weight-light"> {{ equipment?.name }}</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <span>Localização</span>
            </div>
            <div>
                <span title="{{ equipment?.location }}" class="font-weight-light"> {{ equipment?.location }}</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <span>Tempo de atividade</span>
            </div>
            <div>
                <span title="{{ equipment?.upTime }}" class="font-weight-light"> {{ equipment?.upTime }}</span>
            </div>
        </div>
        <div class="col-sm-6" *ngIf="equipment?.memory" >
            <div>
                <span>Uso de memória</span>
            </div>
            <div>
                <span title="{{ equipment?.memory }}" class="font-weight-light"> {{ equipment?.memory }}</span>
            </div>
        </div>
        <div class="col-sm-6" *ngIf="equipment?.cpu" >
            <div>
                <span>Uso de CPU</span>
            </div>
            <div>
                <span title="{{ equipment?.cpu }}" class="font-weight-light"> {{ equipment?.cpu }}</span>
            </div>
        </div>
    </div>
</div>