<div class="ml-3 mr-3">
  <form [formGroup]="formModel">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <span class="font-weight-light">Snmp Settings</span>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
                <div class="slds-col_padded">
                    <ng-template #IP><i>IP</i></ng-template>
                      <ngl-input label="IP" fieldLevelHelpTooltip="Informe o IP do dispositivo">
                      <input ngl type="input" formControlName="ip" name="ip" id="ip">
                    </ngl-input>
                  </div>
              <div>
                <label class="col-form-label font-weight-light" for="ip">
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('ip').hasError('required') && formModel.get('ip').touched">
                      - Campo obrigatório
                    </span>
                  </div>
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('ip').hasError('invalidIpV4') && formModel.get('ip').touched">
                      - Valor informado não é um ip valido
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
              <label class="col-form-label font-weight-bold" for="port">PORT</label>
              <input type="text" class="form-control form-control-sm" name="port" id="port" formControlName="port"
                placeholder="161">
              <div>
                <label class="col-form-label font-weight-light" for="port">
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('port').hasError('required') && formModel.get('port').touched">
                      - Campo obrigatório
                    </span>
                  </div>
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('port').hasError('invalidNumber') && formModel.get('port').touched">
                      - Valor informado não é um número valido
                    </span>
                  </div>
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('timeout').hasError('min') && formModel.get('timeout').touched">
                      - O valor deve ser maior que 0
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
              <label class="col-form-label font-weight-bold" for="community">COMMUNITY</label>
              <input type="text" class="form-control form-control-sm" name="community" id="community"
                formControlName="community">
            </div>
            <div>
              <label class="col-form-label font-weight-light" for="community">
                <div>
                  <span class="label-error"
                    *ngIf="formModel.get('community').hasError('required') && formModel.get('community').touched">
                    - Campo obrigatório
                  </span>
                </div>
              </label>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
              <label class="col-form-label font-weight-bold" for="timeout">TIMEOUT</label>
              <input type="text" class="form-control form-control-sm" name="timeout" id="timeout"
                formControlName="timeout" min="1">
              <div>
                <label class="col-form-label font-weight-light" for="timeout">
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('timeout').hasError('required') && formModel.get('timeout').touched">
                      - Campo obrigatório
                    </span>
                  </div>
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('timeout').hasError('invalidNumber') && formModel.get('timeout').touched">
                      - Número invalido
                    </span>
                  </div>
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('timeout').hasError('min') && formModel.get('timeout').touched">
                      - O valor deve ser maior que 0
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
              <label class="col-form-label font-weight-bold" for="retries">RETRIES</label>
              <input type="text" class="form-control form-control-sm" name="retries" id="retries"
                formControlName="retries" min="1">
              <div>
                <label class="col-form-label font-weight-light" for="retries">
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('retries').hasError('required') && formModel.get('retries').touched">
                      - Campo obrigatório
                    </span>
                  </div>
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('retries').hasError('invalidNumber') && formModel.get('retries').touched">
                      - Valor informado não é um número valido
                    </span>
                  </div>
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('retries').hasError('min') && formModel.get('retries').touched">
                      - O valor deve ser maior que 0
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="col-form-label font-weight-bold" for="version">SNMP VERSION</label>
              <ng-select [items]="versionList" name="version" id="version" formControlName="snmpVersion"> </ng-select>
              <div>
                <label class="col-form-label font-weight-light" for="version">
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('snmpVersion').hasError('required') && formModel.get('snmpVersion').touched">
                      - Campo obrigatório
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="col-form-label font-weight-bold" for="interval">Intervalo de monitoração da
                interface</label>
              <input type="text" class="form-control form-control-sm" name="interval" id="interval"
                formControlName="interval" min="10">
              <span class="font-weight-light float-right">Segundos</span>
              <div>
                <label class="col-form-label font-weight-light" for="version">
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('interval').hasError('required') && formModel.get('interval').touched">
                      - Campo obrigatório
                    </span>
                  </div>
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('interval').hasError('invalidNumber') && formModel.get('interval').touched">
                      - Valor informado não é um número valido
                    </span>
                  </div>
                  <div>
                    <span class="label-error"
                      *ngIf="formModel.get('interval').hasError('min') && formModel.get('interval').touched">
                      - Intervalo deve ser maior que 9
                    </span>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="float-right form-group">
              <label class="col-form-label" for="btnGetData"></label>
              <button (click)="this.GetData()" id="btnGetData" class="btn btn-outline-primary"
                [disabled]="formModel.invalid">Get
                data</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div *ngIf="equipment" class="card text-center">
  <div class="card-header text-center">
    Resultado
  </div>
  <div class="card-body col-sm-12 text-justify">
    <div class="row">
      <div class="col-sm-6">
        <div>
          <span>Descrição</span>
        </div>
        <div class="truncate ml-3">
          <span title="{{ equipment?.description }}" class="font-weight-light"> {{ equipment?.description }}</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <span>Contato</span>
        </div>
        <div class="truncate ml-3">
          <span title="{{ equipment?.contact }}" class="font-weight-light"> {{ equipment?.contact }}</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <span>Nome</span>
        </div>
        <div class="truncate ml-3">
          <span title="{{ equipment?.name }}" class="font-weight-light"> {{ equipment?.name }}</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <span>Localização</span>
        </div>
        <div class="truncate ml-3">
          <span title="{{ equipment?.location }}" class="font-weight-light"> {{ equipment?.location }}</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <span>Tempo de atividade</span>
        </div>
        <div class="truncate ml-3">
          <span title="{{ equipment?.upTime }}" class="font-weight-light"> {{ equipment?.upTime }}</span>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-4">
      <div class="text-left">
        <span>Selecione a Interface a ser monitorada: </span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <ng-select [items]="data" bindLabel="description" [(ngModel)]="this.interface"
            (update)="this.updateSelectedInterface($event)">
            <ng-template ng-label-tmp let-item="item">
              {{ item.description }}
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>
  </div>
</div>
<app-interface-details *ngIf="interface" [interface]="interface" [snmpManager]="snmpManager"></app-interface-details>